<?xml version="1.0"?>
<config>
    <modules>
        <Alliance_Quiz>
            <version>0.1.0</version>
        </Alliance_Quiz>
    </modules>
    <frontend>
        <routers>
            <quiz>
                <use>standard</use>
                <args>
                    <module>Alliance_Quiz</module>
                    <frontName>skin-care-evaluation</frontName>
                </args>
            </quiz>
			<quiz>
				<use>standard</use>
				<args>
					<module>Alliance_Quiz</module>
					<frontName>quiz</frontName>
				</args>
			</quiz>
        </routers>
        <layout>
            <updates>
                <quiz>
                    <file>quiz.xml</file>
                </quiz>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<adminhtml>
				<args>
					<modules>
						<quiz before="Mage_Adminhtml">Alliance_Quiz_Adminhtml</quiz>
					</modules>
				</args>
			</adminhtml> 
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<quiz module="quiz">
				<title>Quiz</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="quiz">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
					    <action>adminhtml/quiz_quiz</action>
					</items>
				</children>
			</quiz>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Alliance_Quiz>
							<title>Quiz Module</title>
							<sort_order>10</sort_order>
						</Alliance_Quiz>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<quiz>
					<file>quiz.xml</file>
				</quiz>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <quiz>
                <class>Alliance_Quiz_Model</class>
                <resourceModel>quiz_mysql4</resourceModel>
            </quiz>
            <quiz_mysql4>
                <class>Alliance_Quiz_Model_Mysql4</class>
                <entities>
                    <quiz>
                        <table>quiz</table>
                    </quiz>
                </entities>
            </quiz_mysql4>
        </models>
        <resources>
            <quiz_setup>
                <setup>
                    <module>Alliance_Quiz</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quiz_setup>
            <quiz_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quiz_write>
            <quiz_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quiz_read>
        </resources>
        <blocks>
            <quiz>
                <class>Alliance_Quiz_Block</class>
            </quiz>
        </blocks>
        <helpers>
            <quiz>
                <class>Alliance_Quiz_Helper</class>
            </quiz>
        </helpers>
		<page>
            <layouts>	
				 <skin_evaluation module="page" translate="label">
                    <label>Skin Evaluation Layout</label>
                    <template>page/skin_evaluation.phtml</template>
                    <layout_handle>page_skin_evaluation</layout_handle>
            	 </skin_evaluation>
			</layouts>	
		 </page>
    </global>
</config>