<?xml version="1.0"?>
<config>
    <modules>
        <Alliance_Giveawayfb>
            <version>0.1.0</version>
        </Alliance_Giveawayfb>
    </modules>
    <frontend>
        <routers>
            <giveawayfb>
                <use>standard</use>
                <args>
                    <module>Alliance_Giveawayfb</module>
                    <frontName>giveawayfb</frontName>
                </args>
            </giveawayfb>
        </routers>
        <layout>
            <updates>
                <giveawayfb>
                    <file>giveawayfb.xml</file>
                </giveawayfb>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <giveawayfb>
                <class>Alliance_Giveawayfb_Model</class>
                <resourceModel>giveawayfb_mysql4</resourceModel>
            </giveawayfb>
            <giveawayfb_mysql4>
                <class>Alliance_Giveawayfb_Model_Mysql4</class>
                <entities>
                    <giveawayfb>
                        <table>giveawayfb</table>
                    </giveawayfb>
                </entities>
            </giveawayfb_mysql4>
        </models>
        <resources>
            <giveawayfb_setup>
                <setup>
                    <module>Alliance_Giveawayfb</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </giveawayfb_setup>
            <giveawayfb_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </giveawayfb_write>
            <giveawayfb_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </giveawayfb_read>
        </resources>
        <blocks>
            <giveawayfb>
                <class>Alliance_Giveawayfb_Block</class>
            </giveawayfb>
        </blocks>
        <helpers>
            <giveawayfb>
                <class>Alliance_Giveawayfb_Helper</class>
            </giveawayfb>
        </helpers>

        <rewrite>
            <giveawayfb_affiliate>
                <from><![CDATA[#^/giveaway/#]]></from>
                <to>/giveawayfb/index/affiliate/</to>
                <complete>1</complete>
            </giveawayfb_affiliate>
        </rewrite>
    </global>
</config>