<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Alliance_OffersFiveHundredFriends>
			<version>1.0.0</version>
		</Alliance_OffersFiveHundredFriends>
	</modules>
	
	<global>
		<models>
			<offersfivehundredfriends>
				<class>Alliance_OffersFiveHundredFriends_Model</class>
			</offersfivehundredfriends>
		</models>
		<helpers>
			<offersfivehundredfriends>
				<class>Alliance_OffersFiveHundredFriends_Helper</class>
			</offersfivehundredfriends>
		</helpers>
		<blocks>
			<offersfivehundredfriends>
				<class>Alliance_OffersFiveHundredFriends_Block</class>
			</offersfivehundredfriends>
		</blocks>
	</global>
</config>
