<?xml version="1.0"?>
<config>
	<modules>
		<Alliance_Salesgrid>
			<version>0.1.1</version>
		</Alliance_Salesgrid>
	</modules>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Alliance_Salesgrid before="Mage_Adminhtml">Alliance_Salesgrid_Adminhtml</Alliance_Salesgrid>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<global>
		<blocks>
			<alliance_salesgrid>
				<class>Alliance_Salesgrid_Block</class>
			</alliance_salesgrid>
		</blocks>
		<resources>
			<salesgrid_setup>
				<setup>
					<module>Alliance_Salesgrid</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</salesgrid_setup>
			<salesgrid_write>
				<connection>
					<use>core_write</use>
				</connection>
			</salesgrid_write>
			<salesgrid_read>
				<connection>
					<use>core_read</use>
				</connection>
			</salesgrid_read>
		</resources>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<alliance_salesgrid>
					<file>alliance_salesgrid.xml</file>
				</alliance_salesgrid>
			</updates>
		</layout>
	</adminhtml>
</config>