<?xml version="1.0"?>
<config>
    <modules>
        <Alliance_Giftreports>
            <version>0.1.0</version>
        </Alliance_Giftreports>
    </modules>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<giftreports before="Mage_Adminhtml">Alliance_Giftreports_Adminhtml</giftreports>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <customer>
                <children>
                    <giftreports translate="title" module="giftreports">
						<title>Gift Card Reports</title>
						<sort_order>10</sort_order>
                        <children>
						   <gr1 translate="title" module="giftreports">
								<title>Gift Card Report</title>
								<action>adminhtml/giftreports_giftreports</action>
								<sort_order>10</sort_order>
							</gr1>
							<gr2 translate="title" module="giftreports">
								<title>Redeem Report</title>
								<action>adminhtml/giftreports_redemption</action>
								<sort_order>20</sort_order>
							</gr2>
					 	</children>
                    </giftreports>
					
                </children>
            </customer>
        </menu>

        <acl><!-- permits -->
            <resources>
                <admin>
                    <children>
                        <giftreports>
                            <children>
                                <giftreports translate="title" module="giftreports">
                                    <title>Promo Importer</title>
                                    <action>adminhtml/giftreports_giftreports</action>
                                    <sort_order>80</sort_order>
                                </giftreports >
                            </children>
                        </giftreports>
                    </children>
                </admin>
            </resources>
        </acl> 
        <layout>
            <updates>
                <giftreports>
                    <file>giftreports.xml</file>
                </giftreports>
            </updates>
        </layout>
	</adminhtml>
    <global>
        <blocks>
            <giftreports>
                <class>Alliance_Giftreports_Block</class>
			</giftreports>
        </blocks>
        <helpers>
            <giftreports>
                <class>Alliance_Giftreports_Helper</class>
            </giftreports>
        </helpers>
    </global>
</config>