<?xml version="1.0"?>
<config>
    <modules>
        <Alliance_CouponGiftItem>
            <version>0.1.0</version>
        </Alliance_CouponGiftItem>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
					<promo_quote_edit_tab_main>Alliance_CouponGiftItem_Block_Adminhtml_Main</promo_quote_edit_tab_main>
				</rewrite>
			</adminhtml>
        </blocks>
		<models>
			<coupongiftitem>
				<class>Alliance_CouponGiftItem_Model</class>
			</coupongiftitem>
		</models>
		
		<helpers>
			<coupongiftitem>
				<class>Alliance_CouponGiftItem_Helper</class>
			</coupongiftitem>
		</helpers>
		
		<blocks>
			<coupongiftitem>
				<class>Alliance_CouponGiftItem_Block</class>
			</coupongiftitem>
		</blocks>
    </global>
	
	
	<frontend>
		<events>
			<checkout_cart_save_after>
				<observers>
					<couponcode_add_gift_item>
						<type>singleton</type>
						<class>coupongiftitem/observer</class>
						<method>addCouponCodeGiftProduct</method>
					</couponcode_add_gift_item>
				</observers>
			</checkout_cart_save_after>
			<checkout_cart_save_after>
				<observers>
					<couponcode_remove_gift_item>
						<type>singleton</type>
						<class>coupongiftitem/observer</class>
						<method>removeCouponCodeGiftProduct</method>
					</couponcode_remove_gift_item>
				</observers>
			</checkout_cart_save_after>
		</events>
	</frontend>
</config>


