<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Alliance_FiveHundredFriends>
            <version>1.1.6</version>
        </Alliance_FiveHundredFriends>
    </modules>

    <global>
        <helpers>
            <alliance_fivehundredfriends>
                <class>Alliance_FiveHundredFriends_Helper</class>
            </alliance_fivehundredfriends>
        </helpers>

        <blocks>
            <alliance_fivehundredfriends>
                <class>Alliance_FiveHundredFriends_Block</class>
            </alliance_fivehundredfriends>
        </blocks>

        <models>
            <alliance_fivehundredfriends>
                <class>Alliance_FiveHundredFriends_Model</class>
				<resourceModel>fivehundredfriends_mysql4</resourceModel>
            </alliance_fivehundredfriends>
			<fivehundredfriends_mysql4>
				<class>Alliance_FiveHundredFriends_Model_Mysql4</class>
				<entities>
					<redemption>
						<table>alliance_redeem</table>
					</redemption>
                    <redemption_item>
                        <table>alliance_redeem_item</table>
                    </redemption_item>
					<autoreplenishreward>
						<table>alliance_autoreplenish_reward</table>
					</autoreplenishreward>
				</entities>
			</fivehundredfriends_mysql4>
        </models>
		
		<resources>
			<alliance_fivehundredfriends_setup>
				<setup>
					<module>Alliance_FiveHundredFriends</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</alliance_fivehundredfriends_setup>
			<alliance_fivehundredfriends_write>
				<connection>
					<use>core_write</use>
				</connection>
			</alliance_fivehundredfriends_write>
			<alliance_fivehundredfriends_read>
				<connection>
					<use>core_read</use>
				</connection>
			</alliance_fivehundredfriends_read>
		</resources>

        <events>

            <customer_register_success>
                <observers>
                    <alliance_fivehundredfriends>
                        <type>singleton</type>
                        <class>Alliance_FiveHundredFriends_Model_Observer</class>
                        <method>customerRegisterSuccess</method>
                    </alliance_fivehundredfriends>
                </observers>
            </customer_register_success>

            <alliance_katereviews_approval>
                <observers>
                    <alliance_fivehundredfriends>
                        <type>singleton</type>
                        <class>Alliance_FiveHundredFriends_Model_Observer</class>
                        <method>allianceKatereviewsApproval</method>
                    </alliance_fivehundredfriends>
                </observers>
            </alliance_katereviews_approval>

            <sales_order_invoice_pay>
                <observers>
                    <alliance_fivehundredfriends>
                        <type>singleton</type>
                        <class>Alliance_FiveHundredFriends_Model_Observer</class>
                        <method>salesOrderInvoicePay</method>
                    </alliance_fivehundredfriends>
                </observers>
            </sales_order_invoice_pay>

            <customer_login>
                <observers>
                    <alliance_fivehundredfriends>
                        <type>singleton</type>
                        <class>Alliance_FiveHundredFriends_Model_Observer</class>
                        <method>customerLogin</method>
                    </alliance_fivehundredfriends>
                </observers>
            </customer_login>

            <customer_save_before>
                <observers>
                    <alliance_fivehundredfriends>
                        <type>singleton</type>
                        <class>Alliance_FiveHundredFriends_Model_Observer</class>
                        <method>customerSaveBefore</method>
                    </alliance_fivehundredfriends>
                </observers>
            </customer_save_before>

            <customer_save_after>
                <observers>
                    <alliance_fivehundredfriends>
                        <type>singleton</type>
                        <class>Alliance_FiveHundredFriends_Model_Observer</class>
                        <method>customerSaveAfter</method>
                    </alliance_fivehundredfriends>
                </observers>
            </customer_save_after>
			
			<sales_quote_collect_totals_after>
				<observers>
					<set_custom_discount_redemption>
						<type>singleton</type>
						<class>Alliance_FiveHundredFriends_Model_Redemption_Observer</class>
						<method>setRedemptionDiscount</method>
					</set_custom_discount_redemption>
				</observers>
			</sales_quote_collect_totals_after>
			
			<sales_order_place_before>
				<observers>
					<check_reward>
						<type>singleton</type>
						<class>Alliance_FiveHundredFriends_Model_Redemption_Observer</class>
						<method>checkRewardBefore</method>
					</check_reward>
				</observers>
			</sales_order_place_before>
			
			<sales_order_place_after>
				<observers>
					<apply_reward_order>
						<type>singleton</type>
						<class>Alliance_FiveHundredFriends_Model_Redemption_Observer</class>
						<method>applyRewardToOrder</method>
					</apply_reward_order>
				</observers>
			</sales_order_place_after>
			<checkout_cart_save_after>
				<observers>
					<check_free_items>
						<type>singleton</type>
						<class>Alliance_FiveHundredFriends_Model_Redemption_Observer</class>
						<method>checkFreeItems</method>
					</check_free_items>
				</observers>
			</checkout_cart_save_after>
		</events>
    </global>

    <frontend>
        <layout>
            <updates>
                <alliance_fivehundredfriends>
                    <file>alliance_fivehundredfriends.xml</file>
                </alliance_fivehundredfriends>
            </updates>
        </layout>
        <routers>
            <katerewards>
                <use>standard</use>
                <args>
                    <module>Alliance_FiveHundredFriends</module>
                    <frontName>rewards-program</frontName>
                </args>
            </katerewards>
        </routers>
    
		<events>
			<sales_order_place_after>
				<observers>
					<apply_reward_order>
						<type>singleton</type>
						<class>Alliance_FiveHundredFriends_Model_Observer</class>
						<method>recordSale</method>
					</apply_reward_order>
				</observers>
			</sales_order_place_after>
		</events>
	</frontend>

    <adminhtml>
		<layout>
			<updates>
				<alliance_fivehundredfriends>
					<file>alliance/fivehundredfriends.xml</file>
				</alliance_fivehundredfriends>
			</updates>
		</layout>
        <events>
            <sales_order_place_after>
                <observers>
                    <alliance_fivehundredfriends>
                        <type>singleton</type>
                        <class>Alliance_FiveHundredFriends_Model_Observer</class>
                        <method>adminSalesOrderPlaceAfter</method>
                    </alliance_fivehundredfriends>
                </observers>
            </sales_order_place_after>
			<sales_order_grid_collection_load_before>
				<observers>
					<alliance_fivehundredfriends_order_grid>
						<model>Alliance_FiveHundredFriends_Model_Redemption_Observer</model>
						<method>addRedeemedPointsToOrderGrid</method>
					</alliance_fivehundredfriends_order_grid>
				</observers>
			</sales_order_grid_collection_load_before>
			<sales_order_save_after>
				<observers>
					<alliance_fivehundredfriends_order_cancel>
						<model>Alliance_FiveHundredFriends_Model_Redemption_Observer</model>
						<method>returnRedeemedPoints</method>
					</alliance_fivehundredfriends_order_cancel>
				</observers>
			</sales_order_save_after>
        </events>
    </adminhtml>
	
	

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Alliance_FiveHundredFriends before="Mage_Adminhtml">Alliance_FiveHundredFriends_Adminhtml</Alliance_FiveHundredFriends>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
</config>