<?xml version="1.0"?>
<config>
    <modules>
        <Alliance_Contact>
            <version>0.0.1</version>
        </Alliance_Contact>
    </modules>
    <global>
        <helpers>
            <contact>
                <class>Alliance_Contact_Helper</class>
            </contact>
        </helpers>
        <blocks>
            <contact>
                <class>Alliance_Contact_Block</class>
            </contact>
        </blocks>
        <rewrite>
            <contact_url>
                <from><![CDATA[#^/customer-care/contactus/?$#]]></from>
                <to><![CDATA[/contactus/]]></to>
                <complete>1</complete>
            </contact_url>
        </rewrite>
    </global>
    <frontend>
        <routers>
            <contact>
                <use>standard</use>
                <args>
                    <module>Alliance_Contact</module>
                    <frontName>contactus</frontName>
                </args>
            </contact>
        </routers>
        <layout>
            <updates>
                <alliance_contact>
                    <file>alliance_contact.xml</file>
                </alliance_contact>
            </updates>
        </layout>
        <translate>
            <modules>
                <Alliance_Contact>
                    <files>
                        <default>Alliance_Contact.csv</default>
                    </files>
                </Alliance_Contact>
            </modules>
        </translate>
    </frontend>
</config>