<config>
	<modules>
		<Windsorcircle_Export>
			<version>1.0.49</version>
		</Windsorcircle_Export>
	</modules>
	<frontend>		
		<routers>
			<windsorcircle_export>
				<use>standard</use>
				<args>
					<module>Windsorcircle_Export</module>
					<frontName>WindsorCircleFeed</frontName>
				</args>
			</windsorcircle_export>
		</routers>
	</frontend>
	<global>
        <blocks>
            <windsorcircle_export>
                <class>Windsorcircle_Export_Block</class>
            </windsorcircle_export>
        </blocks>
		<events>
			<catalog_product_save_after>
				<observers>
					<windsorcircle_export>
						<type>model</type>
						<class>Windsorcircle_Export_Model_Observer</class>
						<method>afterProductSave</method>
					</windsorcircle_export>
				</observers>
			</catalog_product_save_after>
			<catalog_product_delete_commit_after>
				<observers>
					<windsorcircle_export>
						<type>model</type>
						<class>Windsorcircle_Export_Model_Observer</class>
						<method>afterProductDelete</method>
					</windsorcircle_export>
				</observers>
			</catalog_product_delete_commit_after>
		</events>
		<helpers>
			<windsorcircle_export>
				<class>Windsorcircle_Export_Helper</class>
			</windsorcircle_export>
		</helpers>
		<models>
			<windsorcircle_export>
				<class>Windsorcircle_Export_Model</class>
			</windsorcircle_export>
		</models>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<windsorcircle_export_options>
											<title>WindsorCircle Module Section</title>
										</windsorcircle_export_options>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<windsorcircle_export_options>
			<messages>
				<client_name>katesomervilleskincare</client_name>
				<api_key>XP5h30xputCJQ7L</api_key>
				<ftp_type>2</ftp_type>
				<ftp_host>ftp.windsorcircle.com</ftp_host>
				<ftp_folder>upload</ftp_folder>
				<ftp_user>katesomervilleskincare</ftp_user>
				<ftp_password></ftp_password>
				<public_key>-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCphQZPmjDiTiS1lqtamdJCTx2B
sl9+Sw20l/tDjUIDjoeOT8ZUHhMTYrFNarHwsfubjKW359hV4MZbpLeC65Ceiwes
eZuWNmGKJ9Uv/QLv2Qz1PEz47Z3OI88O9o61c2Fepk40ff/Ej2la4CbusQNDZpND
beaImcdzS0ZXTbH1MwIDAQAB
-----END PUBLIC KEY-----</public_key>
                <brand_attribute>0</brand_attribute>
				<image_type>1</image_type>
			</messages>
		</windsorcircle_export_options>
	</default>
</config>
