<config>
	<tabs>
		<windsorcircleexportconfig translate="label" module="windsorcircle_export">
			<label>WindsorCircle Config</label>
			<sort_order>99999</sort_order>
		</windsorcircleexportconfig>
	</tabs>
	<sections>
		<windsorcircle_export_options translate="label" module="windsorcircle_export">
			<label>Export Config Options</label>
			<tab>windsorcircleexportconfig</tab>
			<frontend_type>text</frontend_type>
			<sort_order>1000</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>0</show_in_website>
			<show_in_store>0</show_in_store>
			<groups>
				<messages translate="label">
					<label>Windsor Circle Config</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
                        <current_version translate="label">
                            <label>Current Version</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>Windsorcircle_Export_Block_Adminhtml_Version</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </current_version>
						<client_name translate="label">
							<label>Client Name</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</client_name>
						<api_key translate="label">
							<label>API Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</api_key>
						<ftp_type translate="label">
							<label>FTP Type</label>
							<frontend_type>select</frontend_type>
							<source_model>windsorcircle_export/ftp_type</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</ftp_type>
						<ftp_host translate="label">
							<label>FTP Host</label>
							<frontend_type>text</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</ftp_host>
						<ftp_folder>
							<label>FTP Folder</label>
							<comment>Folder to upload data, no leading or ending slash(/)</comment>
							<frontend_type>text</frontend_type>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</ftp_folder>
						<ftp_user translate="label">
							<label>FTP User</label>
							<frontend_type>text</frontend_type>
							<sort_order>70</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</ftp_user>
						<ftp_password translate="label">
							<label>FTP Password</label>
							<frontend_type>password</frontend_type>
							<sort_order>80</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</ftp_password>
						<public_key translate="label">
							<label>Public Key</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>90</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</public_key>
                        <brand_attribute>
                            <label>Brand Attribute</label>
                            <comment>If no attribute is selected then this will use the 'brand' attribute code</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>windsorcircle_export/brand_attribute</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </brand_attribute>
						<image_type translate="label">
							<label>Image Type</label>
							<frontend_type>select</frontend_type>
							<source_model>windsorcircle_export/image_type</source_model>
							<sort_order>110</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</image_type>
                        <memory_limit translate="label">
                            <label>Memory limit value (in MBytes)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Set memory limit for module. If it's not specified or
                            value is non numeric - default system settings will be used.  Example value 512M should be
                            entered as 512]]></comment>
                        </memory_limit>
					</fields>
				</messages>
			</groups>
		</windsorcircle_export_options>
	</sections>
</config>