<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Alliance_WhoIsThatShe>
            <version>0.0.1</version>
        </Alliance_WhoIsThatShe>
    </modules>
     <frontend>
        <routers>
            <alliance_WhoIsThatShe>
                <use>standard</use>
                <args>
                    <module>Alliance_WhoIsThatShe</module>
                    <frontName>whoisthatshe</frontName>
                </args>
            </alliance_WhoIsThatShe>
        </routers> 	
        <layout>
            <updates>
                <whoisthatshe>
                    <file>whoisthatshe.xml</file>
                </whoisthatshe>
            </updates>
        </layout>    
    </frontend>
</config>