<div class="main-page">

	<div class="eval_prompt">
		<div class="eval_text">
			<h2>Discover your <strong>perfect</strong> skincare <strong>solution!</strong></h2>
		</div>

		<button class="start_eval" ng-click="startEval()">Start Evaluation</button>
	</div>
	<div class="video_row">
		<div class="videos-container container">			
			<ul class="bxslider" ui-jq="bxSlider">
			  <li><a class="fancybox.iframe" href="https://www.youtube.com/embed/UQyv9tXgfu4?rel=0" ui-jq="fancybox"><img src="img/video-thumbs/8-age-arrest.jpg" /><span class="overlay"></span></a></li>
			  <li><a class="fancybox.iframe" href="https://www.youtube.com/embed/pQzx2MBSG84?rel=0" ui-jq="fancybox"><img src="img/video-thumbs/9-retasphere.jpg" /><span class="overlay"></span></a></li>
			  <li><a class="fancybox.iframe" href="https://www.youtube.com/embed/XJdNM9kuXp8?rel=0" ui-jq="fancybox"><img src="img/video-thumbs/10-dilo-oil.jpg" /><span class="overlay"></span></a></li>
			  <li><a class="fancybox.iframe" href="https://www.youtube.com/embed/9Eww4sIIW1I?rel=0" ui-jq="fancybox"><img src="img/video-thumbs/6-dermalquench-bubbles.jpg" /><span class="overlay"></span></a></li>
			  <li><a class="fancybox.iframe" href="https://www.youtube.com/embed/3vbnyJwiU1o?rel=0" ui-jq="fancybox"><img src="img/video-thumbs/4-exfolikate.jpg" /><span class="overlay"></span></a></li>
			  <li><a class="fancybox.iframe" href="https://www.youtube.com/embed/Yr4fVvo_Two?rel=0" ui-jq="fancybox"><img src="img/video-thumbs/2-dscar.jpg" /><span class="overlay"></span></a></li>
			  <li><a class="fancybox.iframe" href="https://www.youtube.com/embed/p8E51qes9U8?rel=0" ui-jq="fancybox"><img src="img/video-thumbs/3-eradikate.jpg" /><span class="overlay"></span></a></li>
			  <li><a class="fancybox.iframe" href="https://www.youtube.com/embed/JrA6aHoMmZ8?rel=0" ui-jq="fancybox"><img src="img/video-thumbs/1-cytocell.jpg" /><span class="overlay"></span></a></li>
			  <li><a class="fancybox.iframe" href="https://www.youtube.com/embed/ux9fIx73CMs?rel=0" ui-jq="fancybox"><img src="img/video-thumbs/7-meet-kate.jpg" /><span class="overlay"></span></a></li>
			  <li><a class="fancybox.iframe" href="https://www.youtube.com/embed/JMFWkCDBgyg?rel=0" ui-jq="fancybox"><img src="img/video-thumbs/11-press-reel.jpg" /><span class="overlay"></span></a></li>
			</ul>							
		</div>
	</div>

</div>