<?xml version="1.0"?>
<config>
    <modules>
        <Alliance_Recaptcha>
            <version>0.1.0</version>
        </Alliance_Recaptcha>
    </modules>   
    <frontend>
        <routers>
            <recaptcha>
                <use>standard</use>
                <args>
                    <module>Alliance_Recaptcha</module>                    
                </args>
            </recaptcha>
        </routers>
    </frontend>
</config>