/* Framework */


/* Font Imports */
@font-face {
	font-family: 'Conv_GilSans-Italics';
	src: url('../fonts/GilSans-Italics.eot');
	src: local('☺'), url('../fonts/GilSans-Italics.woff') format('woff'), url('../fonts/GilSans-Italics.ttf') format('truetype'), url('../fonts/GilSans-Italics.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'GillSansMTRegular';
    src: url('../fonts/gilsans.eot');
    src: url('../fonts/gilsans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilsans.woff') format('woff'),
         url('../fonts/gilsans.ttf') format('truetype'),
         url('../fonts/gilsans.svg#GillSansMTRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GilsansLightFCNormal';
    src: url('../fonts/gilsanslightfc.eot');
    src: url('../fonts/gilsanslightfc.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilsanslightfc.woff') format('woff'),
         url('../fonts/gilsanslightfc.ttf') format('truetype'),
         url('../fonts/gilsanslightfc.svg#GilsansLightFCNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'JustRealizeRegular';
    src: url('../fonts/justrealize.eot');
    src: url('../fonts/justrealize.eot?#iefix') format('embedded-opentype'),
         url('../fonts/justrealize.woff') format('woff'),
         url('../fonts/justrealize.ttf') format('truetype'),
         url('../fonts/justrealize.svg#JustRealizeRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'GillSansMTLight';   
    src: url('../fonts/gilsans.eot');
    src: url('../fonts/gilsans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilsans.woff') format('woff'),
         url('../fonts/gilsans.ttf') format('truetype'),
         url('../fonts/gilsans.svg#GillSansMTLight') format('svg');
    font-weight: 100;   
    font-style: normal; 
}


/* General */
html, body {
	height: 100%;
	min-height: 100%;
	position: relative;
}

body { 
	background: #fff; 
	font: 14px/1.35 'GillSansMTLight', Arial, Helvetica, sans-serif;
	color: #6a747c;
	text-align: left;
}

b, strong {
	font-weight: bold;
}

a { 
	color: #75b8db;
	text-decoration:none;
}

a:hover { 
	color: #75b8db;
	text-decoration:none;
}

a:hover img {
	opacity: 0.9;
}

a, a:focus, a:active {
	outline: 0;
}

h1, h2, h3, h4, h5, h6, .page-title h1, .page-title h2 {
	font-family: 'GillSansMTLight',Arial, Helvetica, sans-serif; 
	font-weight: normal !important; 
	line-height: normal !important; 
	color: #75b8db;
}

h1            { font-size: 30px; }
h2            { font-size: 16px; color:#6A747C; }
h3            { font-size: 14px; }
h4            { font-size: 13px; }
h5            { font-size: 12px; }
h6            { font-size: 11px; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
	color: #75b8db;		
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color: #6A747C; 		
}

.page-title {
	padding: 0 0 5px 0;
	margin: 20px 0 !important;
	background: none;
	border: none;
	border-bottom: 7px solid #cccccc;
	font-family: 'GillSansMTLight',Arial, Helvetica, sans-serif; 
}

.page-title h1 {
	font-size: 45px;
	color: #61a8d4;
	font-family: 'GillSansMTLight',Arial, Helvetica, sans-serif; 
}

.img-shrink img,
img .img-shrink {
	width: 100%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom: 20px;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

p {
	padding-bottom: 18px;
	margin: 0;	
}

ol, ul { 
	padding: 0;	
	list-style-position: inside;
}

ol li, ul li { 
	padding: 5px;
}

.required em {
	color: #6A747C; 
	margin: 0 3px 0 0 !important;
}

.hidden {
	display: none !important;
}


/* form elements */
input, input.input-text, textarea, select, button, button.button span span, .button span span {
	font: 12px 'GillSansMTLight', Arial, Helvetica, sans-serif;
	vertical-align: middle;
	color: #6A747C;
	background: none;
}

button.button,
.button,
.product-view .product-essential button.btn-cart, 
.add-to-cart button.btn-cart {
	border: 0;
	padding: 0;
	margin: 0;
	background: none;
	overflow: visible;
	cursor: pointer;
	vertical-align: middle;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	height: 33px;
	line-height: 29px;
}

button.button span,
.button span,
.product-view .product-essential button.btn-cart span, 
.add-to-cart button.btn-cart span {
	background: none;
	padding: 0;
}

a.button, a.button span {
	background: none;
	padding: 0;
	color: #6A747C;
}

.button span span,
button.button span span,
.product-view .product-essential button.btn-cart span span, 
.add-to-cart button.btn-cart span span, 
.enterprise-invitation-index-index a.button span,
.shop_all_cateogry a  {
	width: auto;
	color: #fff;
	font: normal 14px/29px 'GillSansMTLight', Arial, Helvetica, sans-serif;
	height: 29px;
	text-transform: uppercase;
	padding: 0 15px !important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #75b8db;
	background: #75b8db;
	text-align: center;
}

.enterprise-invitation-index-index a.button:hover span, 
.button:hover span span,
button.button:hover span span,
.product-view .product-essential button.btn-cart:hover span span, 
.add-to-cart button.btn-cart:hover span span {
	border: 1px solid #6A747C;
	background: #6A747C;
}

.button span span a {
	color: #fff;
	text-decoration: none;
}

select {
	border: 1px solid #d9d9d9 !important;
	color: #6A747C;
	cursor: pointer;
	background: #fff url(../images/dropdown-down.png) no-repeat right center;
	text-transform: none;
	font-size: 14px;
	-moz-appearance: none;
	-webkit-appearance: none; 
	appearance: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-weight: normal;
	padding: 10px 40px 10px 10px;
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: ''; 
}

select::-ms-expand { 
	display: none; 
}

select:-moz-focusring {
	color: #6A747C;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #6A747C;
}

@-moz-document url-prefix() { 
  select {
     background: #fff;
	 padding:10px !important;
  }
  
  select.input-text.qty {
	padding:0px 10px 0px 10px !important;
  }
}

input, input.input-text, textarea {
	margin-top: 1px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #d9d9d9;
	padding-left: 5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

input.input-text.qty {
	padding-left: 0;
}

input.radio {
	font-size: 11px !important;
}

textarea {
	line-height: normal !important;
}

.form-list label {
	font-size: inherit;
	color:#6A747C;
	font-weight: normal;
}

.buttons-set2 {
	background: none;
}



/* Header */
form#search_mini_form .search-autocomplete { display: none; }

.header-container {
	margin: 0;
	text-align: left;
	padding: 0 0 15px;
	position: relative;
	z-index: 100;
}

.header-panel {
	z-index: 994;
	height: 27px;
	background: #75b8db;
	line-height: 14px;
	padding: 15px 0 0;
}

.header-panel-container {
	width: 1024px;
	margin: 0 auto;
	font-size: 13px;
	color: #ffffff;
}

.header-panel .links {
	white-space: nowrap;
	display: inline-block;
	float: left;
	min-width: 200px;
	padding: 0 0 0 140px;
	margin: 0;
	line-height: normal;
}

.header-panel .links li {
	background: url(../images/header-panel-seperator.gif) no-repeat 0 0;
	padding: 0 5px;
	display: inline-block;
	float: left;
}

.header-panel .links li.first, .header-panel .links li:first-child {
	padding-left: 0;
	background: none;
}

.header-panel .links li a {
	color: #ffffff;
	text-decoration: none;
}

.header-panel .links li a:hover {
	color: #6A747C;
}

.header-panel .talk-to-expert {
	display: inline-block;
	float: right;
	padding: 0 10px 0 0;
}

.header-container .form-search {
	float: right;
	margin: -3px 0 0 0px;
	white-space: nowrap;
	background: #ffffff;
	position: relative;
}

.header-container .form-search label {
	display: none;
}

.header-container .form-search input.input-text {
	background: #fff;
	padding: 0 5px;
	width: 100px;
	border: 0;
	height: 14px;
	line-height: 17px;
	vertical-align: middle;
	color: #a7a9ac;
	font-size: 11px;
	float: left;
}

.header-container .form-search button.button {
	margin: 0;
	background: url(../images/search-btn.gif) 50% 50% no-repeat;
	height: 16px;
	width: 20px;
	overflow: hidden;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.header-container .form-search button.button span {
	background: url(../images/search-btn.gif) 50% 50% no-repeat;
	height: 16px;
	padding: 0;
	text-indent: -999em;
	width: 20px;
}
	
.header-container .form-search a {
	display: none;
}

.header {
	padding: 10px 0;
	min-height: 46px;
	position: relative;
	z-index: 5;
	width: 1024px;
	margin: 0 auto;
}

.header .branding {
	position: absolute;
	left: 0;
	margin: -29px 0 0;
	top: 0;
}

.header .branding a:hover img {
	opacity: 1;
}

.header .quick-access {
	width: 850px;
	float: right;
	padding: 0;
	font-size: 13px;
	line-height: 14px;
}

.header .quick-access .links {
	float: right;
	line-height: 14px;
	white-space: nowrap;
}

.header .quick-access .links li {
	padding: 0 7px 0 2px;
	background: url(../images/bkg_sep.gif) no-repeat 100% 2px;
}

.header .quick-access .links li a {
	color: #6A747C;
	text-decoration: none;
	text-transform: none;
}

.header .quick-access .links li a:hover {
	color: #222222;
}

.top-cart .block-title,
.top-cart .block-title strong {
	white-space: nowrap;
	cursor: pointer;
	font-size: 13px;
	line-height: 14px;
	color: #75b8db;
	background: none;
	font-weight: normal;
	text-transform: none;
	padding: 0;
}

.header .quick-access .links .first {
	padding-left: 7px;
}

.header .quick-access #invitation-send-link a {
	font-weight: normal;
	background: none;
	padding-left: 6px;
}

.header .quick-access .links #invitation-send-link {
	margin: 0;
}


/* Main Menu */
.header-bottom {
	position: relative;
	width: 1024px;
	margin: 0 auto;
	line-height: 18px;
	height: 20px;
	padding-bottom: 2px;
}

.header-container .cart-message {
	font-size: 14px;
	color: #75b8db;
	clear: right;
	overflow: hidden;
	text-align: right;
	overflow: hidden;
	position: absolute;
	right: 0;
	bottom: 0px;
	width: auto;
}

.nav-container {
	position: relative;
	z-index: 4;
	width: 1024px;
	margin: 0 auto;
	background: none;
}

#nav {
	width: 932px;
	min-height: 28px;
	background: none;
	text-align: left;
	padding: 0 4px 0;
}

#anav li {
	padding: 0;
}


/* Mini cart */
.top-cart .block-content .block-subtitle {
	font-size: 12px;
	color: #ffffff;
	background: #75b8db;
	line-height: 12px;
	padding: 5px 10px;
	text-transform: none;
	font-weight: normal;
}

.top-cart .block-content .block-subtitle .close-btn {
	float: right;
	width: 13px;
	height: 0;
	padding-top: 12px;
	text-align: left;
	overflow: hidden;
	cursor: pointer;
	background: url(../images/bkg_close.png) no-repeat 0 0;
	position: relative;
	z-index: 1;
}

.top-cart .block-content .item .product-name {
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	color: #6A747C;
	padding-bottom: 0;
}

.top-cart .block-content .item .product-name a {
	color: #6A747C;
	font-size: 12px;
}

.top-cart .product-details,
.top-cart .product-details a,
.mini-products-list .product-details .btn-remove {
	font-size: 12px;
	line-height: 16px;
}

.top-cart .block-content table {
	font-size: 12px;
}

.top-cart .block-content table th {
	padding: 1px 8px 1px 0;
	text-align: left;
}

.top-cart .block-content .subtotal {
	background: #f6f6f6;
	padding: 2px 5px;
	text-align: center;
}

.mini-products-list .product-details th,
.mini-products-list .product-details td {
	border: none !important;
	font-size: inherit !important;
	padding: 2px !important;
}

.mini-products-list li:last-child.item {
	border-bottom: none;
}

.top-cart .actions {
	background: none;
	padding: 5px 11px;
	text-align: right;
}

.top-cart .actions button {
	float: right;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
	height: auto;
	line-height: normal;
}

.top-cart .actions button.button span {
	background: #a7a9ac;
	color: #fff;
	height: 26px;
	line-height: 28px;
	padding: 0;
}

.top-cart .actions button.button span span {
	padding: 0 20px 0 10px;	
	display: block;
	font-size: 11px;
	background: none;
	color: #fff;
	font-weight: normal;
	border: none;
}

.top-cart .truncated a.details {
	font-size: 12px;
	color:#6A747C;
}

/* override default mini-cart behavior */
.top-cart .block-content {
	top: 0 !important;
}

.top-cart .stick-it {
	position: absolute !important;
	top: 20px !important;
	left: auto !important;
	right: 0 !important;
}

/* Breadcrumbs */
.breadcrumbs {
	padding: 0 0 0 10px;
	background: none;
	text-align: left;
}

.breadcrumbs li strong {
	font-weight: normal;
}

.breadcrumbs ul {
	width: 600px;
	position: relative;
	z-index: 3;
}

.breadcrumbs li {
	display: inline;
	padding: 0;
}

.giftmsg-container {
	position: absolute;
	top: 165px;
	margin: 0 auto;
	line-height: 16px;
	text-align: right;
	min-width: 1024px;
	font-size: 14px;
	overflow: hidden;
	padding: 0;
}

.giftmsg {
	background: url(../images/gift-icon.gif) no-repeat 100% 0px;
	padding: 0 25px 0 0;
	width: auto;
	float: right;
	z-index: 2;
	position: relative;
	margin-right: 20px;
}



/* Body */
.page {
	width: 100%;
	margin: 0 auto;
}

.region-index-index .page {
	width:250px;
}

.main {
	width: 1024px;
	margin: 0 auto 50px auto;
	padding: 10px 0 20px 0;
	min-height: intrinsic;
	background: none;
	border: none;
	border-top: 1px solid #d3d3d3;
}

.col-main {
	min-height: 400px;
	padding: 0 !important;
}

.col2-left-layout .col-left,
.col3-layout .col-left {
	float: left;
	width: 200px;
	padding: 0;
	margin: 0;
}

.col2-left-layout .col-main {
	float: right;
	width: 800px;
	margin: 0;
}

.col3-layout .col-main {
	width: 600px;
	margin: 0;
}

.col3-layout .col-wrapper {
	width: 830px;
}


/* Tabs */
.collateral-tabs.tab-list{ padding:0;}
.collateral-tabs .tab { position:relative; z-index:2; margin-right:2px; background:#cccccc; color:#6A747C; font-size:18px; font-weight: normal; padding: 0;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	float: left;
	cursor: pointer;
}
.collateral-tabs .faux-tab a {
	text-decoration: none;
	color: #fff;
}
.collateral-tabs .tab span,
.collateral-tabs .faux-tab span { padding:0 25px; line-height:44px; float:left;background: none; }
.collateral-tabs .last { margin:0;}
.collateral-tabs .last span{}
.collateral-tabs .active { color:#ffffff; z-index:3; border-bottom:0; background:url(../images/tab-arrow.png) bottom center no-repeat; padding-bottom:15px; }
.collateral-tabs .active span { background:#61a8d4; padding-bottom:1px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.collateral-tabs .tab-container { z-index:1; top:44px; background:#fff; border-top: 1px solid #cecece; }
.collateral-tabs .tab-content { min-height:250px; padding:50px 0 0 0; background:#ffffff; border:0; width:100%; font-size: 14px; line-height: 21px; }
.collateral-tabs .tab-content p{ margin:0 0 10px !important;}
.collateral-tabs .tab-content .tab-desc{ padding:0;}
.collateral-tabs .tab-content object,
.collateral-tabs .tab-content embed { width:100% !important; height:auto !important; }


/* Tables */
.table-caption {
	border: none;
	background: none;
	font: 16px/1.35 'GillSansMTLight', Arial, Helvetica, sans-serif;
	color : #5E6A72;
}

table {
	width: 100% !important;
	margin: 0 !important;
	border: none !important;
}

thead {
	background: none !important;
}

table th,
table td {
	border: none !important;
	border-bottom: 1px solid #d9d9d9 !important;
	padding: 5px 10px !important;
	font-size: 13px !important;
	background: none !important;
	font-weight: normal !important;
	text-transform: none !important;
}

table th {
	color: #a7a9ac !important;
	font-size: 14px !important;
}

tbody tr:nth-child(even),
tr.even {
	background: none !important;
}

tfoot,
tfoot td {
	background: none !important;
	border: none !important;
}


/* Misc */
.pager {
	border: none;
}

.limiter select {
	width: 60px;
	padding: 5px;
}

.goback {
	padding: 10px 12px 0;
	font-size: 13px;
	font-weight: bold;
}

.goback a {
	text-decoration: none;
}

.std .messages ul, 
.messages ul {
	padding: 0 !important;
	margin: 0 !important;
}

.messages li.success-msg,
.messages li.error-msg,
.messages li.note-msg, 
.messages li.notice-msg {
	border: none !important;
	background: none !important;
	color: #61a8d4 !important;
	font-size: 14px !important;
}

.customer-account-login .messages li.error-msg {
	border: none !important;
	background: none !important;
	color: red !important;
	font-size: 14px !important;
}


.messages li.success-msg a,
.messages li.error-msg a,
.messages li.note-msg a, 
.messages li.notice-msg a  {
	color: #61a8d4 !important;	
}

span.validation-passed, 
div.validation-passed {
	background: none;
	padding-right: 0;
}

.validation-error, 
.validation-failed {
	background-color: none !important;
	border: 1px solid #75b8db !important;
}

span.validation-error, 
div.validation-error {
	border: none !important;
}

input.input-text.validation-failed, 
textarea.validation-failed {
	background: none !important;
}

#bronto-unsubscribe-form .validation-advice {
	float:none;
}

.validation-advice {
	color: #75b8db !important;
}

.special-price .price-label,
.special-price .price {
	color: #75b8db;
	font-weight: normal;
}

p.required {
	color: #6A747C; 
}


/* Footer */
.footer-container {
	text-align: left;
	background: #808184;
	padding: 18px 0;
	color: #ffffff;
	margin: 0;
}

.footer {
	width: 1024px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	background: none;
}

.footer .f-nav {
	overflow: hidden;
	position: relative;
}

.footer ul, .footer ul.links {
	display: inline;
	float: none;
	width: auto;
	margin: 0;
}

.footer ul.links li, .footer ul li {
	vertical-align: top;
	padding: 0 0 0 4px !important;
	display: inline;
	background: url(../images/header-panel-seperator.gif) no-repeat scroll 0 2px;
}

.footer .f-nav ul li:first-child, .footer .f-nav ul li.first {
	background: none;
	padding-left: 0;
	margin-left: -4px;
}

.footer a {
	color: #ffffff;
	text-decoration: none;
	padding: 0 4px;
}

.form-subscribe {
	float: none;
	margin: 10px auto 0;
	width: 480px;
	overflow: hidden;
	padding: 0;
}

.form-subscribe.get-new {
	width: 180px;
	padding : 2px;
}

.form-subscribe .v-fix {
	text-align: left;
	background: #ffffff;
	display: inline-block;
	float: right;
	padding: 0 20px 0 0;
	position: relative;
}

.form-subscribe input.input-text {
	width: 100px;
	display: block;
	background: #ffffff;
	border: 1px #ffffff solid;
	float: left;
	padding: 0 0 0 5px;
	color: #A7A9AC;
	height: 14px;
	line-height: 14px;
	vertical-align: middle;
	font-size: 11px;
}

.form-subscribe input.button {
	margin: 3px 0 0;
	float: left;
	height: 10px;
	width: 13px;
	overflow: hidden;
	background: #fff url(../images/newsletter_btn.gif) no-repeat 0 0;
	position: absolute;
	top: 0;
	right: 5px;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.form-subscribe input.button span span {
	background: transparent;
	border: none;
}

.form-subscribe label {
	margin: 0 15px 0 0;
	display: inline-block;
	float: right;
	padding: 0;
}

.bottom-panel {
	margin: 0 auto;
	width: 1024px;
	text-align: center;
	padding: 10px 0 100px 0;
	font-size: 13px;
}

.bottom-panel .social-links {
	padding: 5px 0 10px;
}

.bottom-panel p {
	padding: 0;
}

.bottom-panel .social-links a {
	padding: 0 !important;
	margin: 0 3px;
}

.bottom-panel .social-links a img {
	top: 0px;
	position: relative;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	cursor: pointer;
}

.bottom-panel .social-links a:hover img {
	top: -5px;
}

.bottom-panel .links li {
	background: url(../images/bkg_sep.gif) no-repeat scroll 0 2px transparent;
	padding: 0 5px 0 7px;
}

.bottom-panel .links li.first {
	background: none;
}

.bottom-panel a {
	color: #6A747C;
	text-decoration: none;
}




/* overwrite turn to css for tra-boxed-sprites.png */
.TTinputTeaserBubble1, 
.TTinputTeaserNext, 
#TT4instAnswNext, 
#TT4instAnswNext:hover, 
.TT4voteArrow, 
.TTsmallSubmitBtn, 
.TTcancelBtn, 
.TTdoneBtn, 
.TTsaveBtn, 
.TTsearchBtn, 
.TTbigSubmitBtn, 
.TTupdateBtn, 
.TTblankBtn, 
.TTcancelDupBtn, 
.TTcloseBtn, 
.TTconfirmDupBtn, 
#TTfacebookDelAuth, 
#TTtwitterDelAuth, 
#TTgmailDelAuth, 
.TT3yesVote, 
.TT3yesVote:hover, 
.TT3yesVote.TT3tmbOn, 
.TT3yesVote.TT4disableVote:hover, 
.TT3yesVote.TT4disableVote.TT3tmbOn, 
.TT3noVote, 
#TTtraWindow a img.TT4showMoreImg, 
.TT3carouselLeft, 
.TT3carouselRight, 
.TT3removeAttachedItem, 
input[type=checkbox].TTcheckbox+label.TTlabel, 
input[type=checkbox].TTcheckbox:checked+label.TTlabel, 
.TT3clearSearchMiqa, 
#TTinputTeaserClear, 
.TT3cAnchorLeft, 
.TT3qAnchorLeft, 
.TT3saAnchorLeft, 
.TT3aAnchorLeft, 
#TT3miqaRslts .TT3addedText, 
.TT4iaLeft, 
.TT4isaLeft, 
.TT3tAnchorLeft, 
.TT4sqLeft, 
.TT4nextBtn, 
#TurnToContent a img.TT4showMoreSmallImg,#TTtraWindow a img.TT4showMoreSmallImg, 
#TT4questionTextHelpIcon, 
#TurnToContent .TTsqvBack,#TTtraWindow .TTsqvBack,#TurnToReviewsContent .TTsqvBack, 
#TurnToContent .TTsqvBack:hover,#TTtraWindow .TTsqvBack:hover,#TurnToReviewsContent .TTsqvBack:hover, 
#TurnToContent .TTsqvForward,#TTtraWindow .TTsqvForward, 
#TurnToContent .TTsqvForward:hover,#TTtraWindow .TTsqvForward:hover, 
#TTaskAreaBtnLine #TT3questCancelBtn, 
.TTrating-0-0, 
.TTrating-0-5, 
.TTrating-1-0, 
.TTrating-1-5, 
.TTrating-2-0, 
.TTrating-2-5, 
.TTrating-3-0, 
.TTrating-3-5, 
.TTrating-4-0, 
.TTrating-4-5, 
.TTrating-5-0, 
.TTcustom-0-0, 
.TTcustom-0-5, 
.TTcustom-1-0, 
.TTcustom-1-5, 
.TTcustom-2-0, 
.TTcustom-2-5, 
.TTcustom-3-0, 
.TTcustom-3-5, 
.TTcustom-4-0, 
.TTcustom-4-5, 
.TTcustom-5-0, 
.TTcustomSmall-0-0, 
.TTcustomSmall-0-5, 
.TTcustomSmall-1-0, 
.TTcustomSmall-1-5, 
.TTcustomSmall-2-0, 
.TTcustomSmall-2-5, 
.TTcustomSmall-3-0, 
.TTcustomSmall-3-5, 
.TTcustomSmall-4-0, 
.TTcustomSmall-4-5, 
.TTcustomSmall-5-0 {
	background-image: url(../images/tra-boxed-sprites.png) !important;
}



