<?xml version="1.0"?>
<config>
    <modules>
        <AW_Colorswatches>
            <version>1.0.3</version><platform>ee</platform>
        </AW_Colorswatches>
    </modules>

    <global>
        <blocks>
            <awcolorswatches>
                <class>AW_Colorswatches_Block</class>
            </awcolorswatches>
        </blocks>
        <helpers>
            <awcolorswatches>
                <class>AW_Colorswatches_Helper</class>
            </awcolorswatches>
        </helpers>
        <models>
            <awcolorswatches>
                <class>AW_Colorswatches_Model</class>
                <resourceModel>awcolorswatches_resource</resourceModel>
            </awcolorswatches>
            <awcolorswatches_resource>
                <class>AW_Colorswatches_Model_Resource</class>
                <entities>
                    <swatchattribute>
                        <table>aw_colorswatches_swatchattribute</table>
                    </swatchattribute>
                    <swatch>
                        <table>aw_colorswatches_swatch</table>
                    </swatch>
                </entities>
            </awcolorswatches_resource>
        </models>
        <resources>
            <awcolorswatches_setup>
                <setup>
                    <module>AW_Colorswatches</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </awcolorswatches_setup>
            <awcolorswatches_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </awcolorswatches_write>
            <awcolorswatches_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </awcolorswatches_read>
        </resources>
    </global>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <awcolorswatches_tab>
                        <type>singleton</type>
                        <class>awcolorswatches/colorswatches</class>
                        <method>addTabToAttributeEdit</method>
                    </awcolorswatches_tab>
                </observers>
            </adminhtml_block_html_before>
            <clean_catalog_images_cache_after>
                <observers>
                    <awcolorswatches_cache>
                        <type>singleton</type>
                        <class>awcolorswatches/colorswatches</class>
                        <method>cleanCache</method>
                    </awcolorswatches_cache>
                </observers>
            </clean_catalog_images_cache_after>
            <catalog_entity_attribute_save_before>
                <observers>
                    <awcolorswatches_save>
                        <type>singleton</type>
                        <class>awcolorswatches/colorswatches</class>
                        <method>attributeSave</method>
                    </awcolorswatches_save>
                </observers>
            </catalog_entity_attribute_save_before>
        </events>
        <translate>
            <modules>
                <AW_Colorswatches>
                    <files>
                        <default>AW_Colorswatches.csv</default>
                    </files>
                </AW_Colorswatches>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<aw_colorswatches_admin before="Mage_Adminhtml">AW_Colorswatches_Adminhtml</aw_colorswatches_admin>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <frontend>
        <translate>
            <modules>
                <AW_Colorswatches>
                    <files>
                        <default>AW_Colorswatches.csv</default>
                    </files>
                </AW_Colorswatches>
            </modules>
        </translate>
        <layout>
            <updates>
                <awcolorswatches module="awcolorswatches">
                    <file>aw_colorswatches.xml</file>
                </awcolorswatches>
            </updates>
        </layout>
        <routers>
            <awcolorswatches>
                <use>standard</use>
                <args>
                    <module>AW_Colorswatches</module>
                    <frontName>colorswatches</frontName>
                </args>
            </awcolorswatches>
        </routers>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <awcolorswatches>
                        <type>singleton</type>
                        <class>awcolorswatches/colorswatches</class>
                        <method>processAttributesBlocks</method>
                    </awcolorswatches>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </frontend>
    <default>
        <awcolorswatches>
            <global>
                <enabled>0</enabled>
                <width>100</width>
                <height>100</height>
                <image>1</image>
                <description>1</description>
                <short_description>1</short_description>
                <additional>1</additional>
                <title>1</title>
            </global>
        </awcolorswatches>
    </default>
</config>